@model BudgetMake.Presentation.Web.ViewModel.AnnualPlanViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    
    @Html.HiddenFor(Model => Model.AnnualBudgetId, new { id = "hdnAnnualPlanId" })

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnnualBudgetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualBudgetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualBudgetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualBudgetName)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__deleteAnnualPlanForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="button" class="btn btn-default"
                       value="Delete" id="btnDeleteAnnualPlan" />
                <input type="button" class="btn btn-default"
                       value="Cancel" id="btnCancel" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/pages/annual/pv_deleteannualplan.js"></script>
