@model BudgetMake.Presentation.Web.ViewModel.SalaryViewModel

@{
    ViewBag.Title = "Delete";
}

<div>
    <hr />
    <dl class="dl-horizontal">

        @Html.Hidden("BudgetItemId", Model.SalaryId);
        @Html.Hidden("MonthlyPlanId", Model.MonthlyBudgetId);

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountUsed)
        </dd>

        <dt>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

    </dl>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__deleteSalaryForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="button" class="btn btn-default"
                       value="Delete" id="btnDeleteCreditCardItem" />
                <input type="button" class="btn btn-default"
                       value="Cancel" id="btnCancel" />
            </div>
        </div>
    }
</div>

<script src="~/Scripts/pages/salary/pv_deletesalaryitem.js"></script>