@model IEnumerable<BudgetMake.Presentation.Web.ViewModel.EntityPropertyChangeViewModel>

@{

    if (Model != null && Model.Count() > 0)
    {
        <table class="table" id="historyData">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntityPropertyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentValueAsText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OriginalValueAsText)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.EntityPropertyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentValueAsText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalValueAsText)
                    </td>
                </tr>
                
            }

        </table>
    }
    else
    {
        <span>
            No history data found
        </span>
    }

}

